{% extends 'proleague/base.html' %}

{% block title %}
    Delete Game
{% endblock %}

{% block content %}
    <form action="{{ game.get_delete_url }}" method="post">
    {% csrf_token %}
        <p>
            Are you sure that you want to delete
            game {{ game }}?
        </p>
        <a href="{{ game.get_absolute_url }}" class="button button-primary">
            Cancel
        </a>
        <button type="submit" class="button button-primary">Delete Game</button>
    </form>
{% endblock %}
