{% extends 'proleague/base.html' %}

{% block title %}Login{% endblock %}

{% block create_button %}
    Have not registered?
    <a href="{% url 'signup_urlpattern' %}" class="button button-primary">
        Sign Up
    </a>
{% endblock %}

{% block org_content %}
    <h2>Login</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
        <button type="submit" class="button button-primary">
    	    Login
        </button>
        <a href="{% url 'password_reset_urlpattern' %}">
            Forgot your password?
        </a>
    </form>
{% endblock %}
