{% extends 'proleague/base.html' %}

{% block title %}
    Delete Match
{% endblock %}

{% block content %}
    <form action="{{ match.get_delete_url }}" method="post">
    {% csrf_token %}
        <p>
            Are you sure that you want to delete
            match {{ match }}?
        </p>
        <a href="{{ match.get_absolute_url }}" class="button button-primary">
            Cancel
        </a>
        <button type="submit" class="button button-primary">Delete Match</button>
    </form>
{% endblock %}
