{% extends 'proleague/base.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
    <h2>Set New Password</h2>
    {% if validlink %}
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
            <button type="submit" class="button button-primary">
                Save
            </button>
        </form>
    {% else %}
        <p>
            Invalid token.
        </p>
        <p>
            Return to <a href="{% url 'password_reset_urlpattern' %}">Reset Password</a>
        </p>
    {% endif %}
{% endblock %}
