{% extends 'proleague/base.html' %}

{% block title %}
    Delete School
{% endblock %}

{% block content %}
    <form action="{{ school.get_delete_url }}" method="post">
    {% csrf_token %}
        <p>
            Are you sure that you want to delete
            school {{ school }}?
        </p>
        <a href="{{ school.get_absolute_url }}" class="button button-primary">
            Cancel
        </a>
        <button type="submit" class="button button-primary">Delete School</button>
    </form>
{% endblock %}
