{% extends 'proleague/base.html' %}

{% block title %}
    Error Deleting Team
{% endblock %}

{% block content %}
    <div>
        <h2>Error Deleting Team</h2>
        <p>
            You may not delete team {{ team }}. This
            team currently has the following
            players:
        </p>

        <ul>
        {% for player in players %}
            <li><a href="{{ player.get_absolute_url }}">{{ player }}</a></li>
        {% endfor %}
        </ul>

        <p>
            Return to <a href="{% url 'proleague_team_list_urlpattern' %}">Team List</a>.
        </p>
    </div>
{% endblock %}
